<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <filter>
        <filter-name>filter</filter-name>
        <filter-class>utils.EcondFilter</filter-class>

    </filter>
    <filter-mapping>
        <filter-name>filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <listener>
        <listener-class>utils.OnLineListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUserServlet</servlet-name>
        <servlet-class>servlet.ListUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>servlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>servlet.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryServlet</servlet-name>
        <servlet-class>servlet.QueryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArticleTypeServlet</servlet-name>
        <servlet-class>servlet.ArticleTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListTypeServlet</servlet-name>
        <servlet-class>servlet.ListTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTypeServlet</servlet-name>
        <servlet-class>servlet.DeleteTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArticleServlet</servlet-name>
        <servlet-class>servlet.ArticleServlet</servlet-class>
    </servlet>
<servlet>
    <servlet-name>UpdateSelfServlet</servlet-name>
    <servlet-class>servlet.UpdateSelfServlet</servlet-class>
</servlet>
<servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
</servlet>
<servlet>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>servlet.AdminLoginServlet</servlet-class>
</servlet>
<servlet>
     <servlet-name>ListLifeServlet</servlet-name>
     <servlet-class>servlet.ListLifeServlet</servlet-class>
</servlet>
    <servlet>
        <servlet-name>LifeServlet</servlet-name>
        <servlet-class>servlet.LifeServlet</servlet-class>
    </servlet>
<servlet>
    <servlet-name>DeleteLifeServlet</servlet-name>
    <servlet-class>servlet.DeleteLifeServlet</servlet-class>
</servlet>
<servlet>
    <servlet-name>StuArticleServlet</servlet-name>
    <servlet-class>servlet.StuArticleServlet</servlet-class>
</servlet>
<servlet>
    <servlet-name>ArticleComServlet</servlet-name>
    <servlet-class>servlet.ArticleComServlet</servlet-class>
</servlet>
<servlet>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>servlet.CommentServlet</servlet-class>
</servlet>
    
    
    
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUserServlet</servlet-name>
        <url-pattern>/ListUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryServlet</servlet-name>
        <url-pattern>/QueryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticleTypeServlet</servlet-name>
        <url-pattern>/ArticleTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListTypeServlet</servlet-name>
        <url-pattern>/ListTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTypeServlet</servlet-name>
        <url-pattern>/DeleteTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticleServlet</servlet-name>
        <url-pattern>/ArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSelfServlet</servlet-name>
        <url-pattern>/UpdateSelfServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListLifeServlet</servlet-name>
        <url-pattern>/ListLifeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LifeServlet</servlet-name>
        <url-pattern>/LifeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLifeServlet</servlet-name>
        <url-pattern>/DeleteLifeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StuArticleServlet</servlet-name>
        <url-pattern>/StuArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticleComServlet</servlet-name>
        <url-pattern>/ArticleComServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/CommentServlet</url-pattern>
    </servlet-mapping>
</web-app>